/* styles.module.css */

.features {
  padding: 2rem 0;
  overflow: auto; /* Allow scrolling if content exceeds the height */
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

@media screen and (max-width: 30em) {
    /* If the screen width is at least 30em (adjust as needed) */
    .grid {
        grid-template-columns: 1fr;
    }
  }