.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%; /* Verwende 100% der Breite */
}

.row {
  display: flex;
  flex-wrap: wrap; /* Erlaube den Umbruch von Elementen auf mehrere Zeilen */
  justify-content: space-around; /* Zentriere die Kategoriekarten */
}

.col {
  flex: 0 0 calc(50% - 2rem); /* Setze die Breite auf 50%, minus Padding */
  max-width: calc(50% - 2rem); /* Begrenze die maximale Breite */
  margin-bottom: 2rem; /* Füge etwas Platz unten hinzu */
}

@media screen and (max-width: 768px) {
  .col {
    flex: 0 0 calc(100% - 2rem); /* Auf eine Spalte ändern, wenn der Bildschirm kleiner als 768px ist */
    max-width: calc(100% - 2rem); /* Maximale Breite auf 100% setzen */
  }
}
