/* CategoryCard.css */

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.card__image {
  max-width: 75%; /* Adjust maximum width of the logo */
  height: auto;
}

.card__title {
  margin: 0;
  margin-top: 10px; /* Add some space between logo and category name */
}

.card:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); /* Add box-shadow effect on hover */
}